body {
    background-color: #f8f9fa;
  }
  
  .container {
    max-width: 800px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  #ruleOutput {
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
    word-break: break-all;
  }
  
  .rule-output {
    min-height: 200px;
  }
  .d-flex > .btn {
    margin-right: .3rem; /* 或者你想要的任何间距 */
  }

  .d-flex > .btn:last-child {
    margin-right: 0; /* 移除最后一个按钮的右边距 */
  }